name: publish

on:
  push:
    branches:
      - main
    paths:
      - 'package.json'
  workflow_dispatch:

jobs:
  publish:
    name: publish to npm
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          cache: npm
          registry-url: 'https://registry.npmjs.org'
      # for OIDC authentication
      - run: npm install -g npm@latest
      - run: npm ci
      - run: npm run generate
      - run: npm run build
      - run: npm run fix
      - run: npm publish
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { version } = require('./package.json');
            github.request('POST /repos/${{ github.repository }}/git/refs', {
              ref: `refs/tags/${version}`,
              sha: '${{ github.sha }}'
            });
