name: update

on:
  schedule:
    # NOTE: at 6:50 am every day, JST
    - cron: '50 21 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-data:
    name: update data
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: npm
      - run: npm ci
      - run: npm run generate
      - run: npm run build
      - run: npm run fix
      - id: diff
        run: |
          if git diff --exit-code --quiet
          then
            echo 'changed=false' >> "$GITHUB_OUTPUT"
          else
            echo 'changed=true' >> "$GITHUB_OUTPUT"
          fi
      - if: steps.diff.outputs.changed == 'true'
        run: npm version patch --no-git-tag-version
      - if: steps.diff.outputs.changed == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
      - if: steps.diff.outputs.changed == 'true'
        run: |
          git checkout -b feature/update-data
          git add .
          git commit -m 'update data files'
          git push origin +feature/update-data
      - if: steps.diff.outputs.changed == 'true'
        run: >
          gh pr create
          --body ''
          --reviewer sasaplus1
          --title 'update data'
        env:
          GH_PROMPT_DISABLED: 1
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
